@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-zinc-100;
  }
}

/* Custom Scrollbar for the black theme */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
